asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
distlib==0.3.9
Django==5.2.1
filelock==3.18.0
idna==3.10
mariadb==1.1.12
mysqlclient==2.2.7
omdb==0.10.1
omdbapi==0.7.0
packaging==25.0
pillow==11.1.0
platformdirs==4.3.7
pycparser==2.22
PyMySQL==1.1.1
requests==2.32.3
setuptools==78.1.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.3.0
virtualenv==20.29.3
virtualenvwrapper-win==1.2.7
wheel==0.45.1
